@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <div class="row">
            <div class="col-4 sidebar-row">
                <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                <RadzenLabel Text="Header" />
            </div>
            <div class="col-8 auth-row">
                <LoginDisplay />
            </div>
        </div>
    </RadzenHeader>
    <NavMenu SidebarExpanded=@sidebarExpanded />
    <RadzenBody>
        <RadzenNotification />
        @Body
    </RadzenBody>
    <RadzenDialog></RadzenDialog>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;
}

