.sidebar-row {
    display: flex;
    align-items: center;
}
.auth-row {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

    .auth-row ::deep a, .auth-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .auth-row ::deep a:hover, .auth-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .auth-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .auth-row:not(.auth) {
        display: none;
    }

    .auth-row.auth {
        justify-content: space-between;
    }

    .auth-row ::deep a, .auth-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .auth-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .auth-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .auth-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
