<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LeaveSystem</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-leave-request">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create leave request
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leave-requests">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Leave request
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user-panel">
                <span class="oi oi-list-rich" aria-hidden="true"></span> User panel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hr-panel">
                <span class="oi oi-list-rich" aria-hidden="true"></span> HR panel
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
