@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = @LeaveRequestDetails.PolicyName)]
@inject DialogService dialogService

<RadzenStack Gap="1.5rem">
    <p>Add details why do you want to change status of this leave request</p>
    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
        <RadzenTextArea @bind-Value=@remarks text class="w-100" />
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenButton Text="Ok" Click="() => dialogService.Close(new DialogResult(true, remarks))" Style="width: 80px;" />
            <RadzenButton Text="Cancel" Click="() => dialogService.Close(new DialogResult(false))" ButtonStyle="ButtonStyle.Light" />
        </RadzenStack>
    </RadzenStack>
</RadzenStack>

@code {
    string remarks = "";

    public record DialogResult(bool IsSuccess, string? Remarks = null);
}
