@using LeaveSystem.Web.Pages.UserLeaveLimits

<RadzenDataGrid @ref="grid" AllowFiltering="true" AllowSorting="true" ExpandMode="DataGridExpandMode.Single"
                Data="@LeaveTypesWithUserLimits" TItem="LeaveTypeWithUserLimits">
    <Template Context="leaveType">
        <RadzenDataGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@leaveType.Limits" TItem="UserLeaveLimitDto">
            <Columns>
                <RadzenDataGridColumn TItem="UserLeaveLimitDto" Property="UserLeaveLimitDto.ValidSince" Title="Since"/>
                <RadzenDataGridColumn TItem="UserLeaveLimitDto" Property="UserLeaveLimitDto.ValidUntil" Title="To"/>
                <RadzenDataGridColumn TItem="UserLeaveLimitDto" Property="UserLeaveLimitDto.Limit" Title="Limit">
                    <Template Context="limit">
                        @limit.Limit
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="UserLeaveLimitDto" Property="UserLeaveLimitDto.OverdueLimit" Title="Overdue Limit"/>
                <RadzenDataGridColumn TItem="UserLeaveLimitDto" Property="UserLeaveLimitDto.TotalLimit" Title="Total Limit"/>
                <RadzenDataGridColumn TItem="UserLeaveLimitDto" Property="UserLeaveLimitDto.Property.Description" Title="Description"/>
            </Columns>
        </RadzenDataGrid>
    </Template>
    <Columns>
        <RadzenDataGridColumn TItem="LeaveTypeWithUserLimits" Property="LeaveTypeWithUserLimits.Name" Title="Name" />
        <RadzenDataGridColumn TItem="LeaveTypeWithUserLimits" Property="LeaveTypeWithUserLimits.Limit" Title="Customer" />
        <RadzenDataGridColumn TItem="LeaveTypeWithUserLimits" Property="LeaveTypeWithUserLimits.OverdueLimit" Title="Order Date" />
        <RadzenDataGridColumn TItem="LeaveTypeWithUserLimits" Property="LeaveTypeWithUserLimits.TotalLimit" Title="Required Date" />
        <RadzenDataGridColumn TItem="LeaveTypeWithUserLimits">
            <Template Context="leaveType">
                <div style="@GetCssStyleForLeaveType(leaveType.Properties.Color)"></div>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {

    [Parameter]
    public IEnumerable<LeaveTypeWithUserLimits>? LeaveTypesWithUserLimits { get; set; }

    RadzenDataGrid<LeaveTypeWithUserLimits>? grid;

    string GetCssStyleForLeaveType(string? leaveTypeColor) => $"background-color: {leaveTypeColor}; width: 30px;";

}