@page "/calendar"
@inject HttpClient Http

<PageTitle>Calendar</PageTitle>

<h1>Calendar</h1>

<p>This component demonstrates fetching data from the server.</p>

<a class="btn btn-primary" href="/addleaverequest">Add leave request</a>


