# Project level configuraiton

[*.{cs}]
# CS8974: Converting method group 'Method_Name' to non-delegate type 'object'.
dotnet_diagnostic.CS8974.severity = none
# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none
# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none
# CS8619: Nullability of reference types in value of type
dotnet_diagnostic.CS8619.severity = none
# CA1861: Prefer 'static readonly' fields over constant array arguments if the called method is called repeatedly and is not mutating the passed array
dotnet_diagnostic.CA1861.severity = none
# CA1305: The behavior of 'DateTimeOffset.Parse(string)' could vary based on the current user's locale settings.
dotnet_diagnostic.CA1305.severity = none
