# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: DEV - Roles for B2C - func-leave-system-dev-02

on:
  push:
    branches:
      - develop
    paths:
      - 'src/LeaveSystem.Functions/LeaveSystem.Functions.Roles/**'
      - 'src/LeaveSystem.Functions/LeaveSystem.Functions.Shared/**'
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - develop
    paths:
      - 'src/LeaveSystem.Functions/LeaveSystem.Functions.Roles/**'
      - 'src/LeaveSystem.Functions/LeaveSystem.Functions.Shared/**'
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'src/LeaveSystem.Functions/LeaveSystem.Functions.Roles' # set this to the path to your web app project, defaults to the repository root
  DOTNET_VERSION: '8.0.x' # set this to the dotnet version to use

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v4

      - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: 'Resolve Project Dependencies Using Dotnet'
        shell: bash
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          dotnet build --configuration Release --output ./output
          popd

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_02FDB5A13B8F41EB934A4020E81452E1 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_CF5A632EAC254D41B0014D7533B3DA68 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_142689AE0AA74E16A8F8E4041E11497E }}

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: 'func-leave-system-dev-02'
          slot-name: 'Production'
          package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'
